* {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0;
}

body {
  background: #8E7E70;
  font-family: Montserrat, sans-serifs;
  overflow-x: hidden;
}

header {
  background: #fff;
  width: 100%;
}

.burger {
  display: none;
}

.title {
  color: #3E778C;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
}

.text {
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.normal {
  color: #3E778C;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #3E778C;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background: #3E778C;
  border: none;
  border-radius: 30px;
}

.header-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
}
.header-section__right-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header-section__left-wrapper {
  width: 100px;
}
.header-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  margin-bottom: 20px;
  gap: 15px;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
}
.main-section__img {
  max-width: 550px;
}
.main-section__location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-section__location img {
  width: 30px;
}
.main-section__location p {
  color: #fff;
}
.main-section__about p {
  color: #fff;
  padding: 50px 50px;
}
.main-section__menu p {
  color: #3E778C;
  display: flex;
  justify-content: center;
}
.main-section__menu-list {
  display: flex;
  justify-content: space-around;
  background-color: #A5998E;
  width: 99vw;
  margin-bottom: 20px;
}
.main-section__menu-list-one {
  display: inline-block;
}
.main-section__menu-list-two {
  display: inline-block;
  text-align: right;
}
.main-section__product {
  margin: 0 auto;
  max-width: 1000px;
}
.main-section__product-left {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.main-section__products-img {
  width: 230px;
  height: 200px;
}
.main-section__pages {
  display: flex;
  justify-content: center;
  padding: 40px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-section__clients {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #A5998E;
  width: 100vw;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main-section__clients-all {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  gap: 50px;
}
.main-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.main-section__form-text {
  padding: 20px;
}
.main-section__form-input {
  border-radius: 20px;
  height: 30px;
  padding-left: 10px;
}
.main-section #slider {
  margin: 0 auto;
  width: 553px;
  max-width: 553px;
}

.slider__img {
  width: 100%;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  border-radius: 10px;
  background: #8E7E70;
  position: relative;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
}

#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #8E7E70;
}

#slides .slide-1 {
  background: #8E7E70;
}

#slides .slide-2 {
  background: #8E7E70;
}

#slides .slide-3 {
  background: #8E7E70;
}

#slides .slide-4 {
  background: #8E7E70;
}

#controls {
  margin: -190px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  height: 50px;
  opacity: 0.4;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 150px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}

.footer-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.footer-section__right-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-section__left-wrapper {
  width: 100%;
}
.footer-section__contact {
  white-space: nowrap;
}

p {
  color: #3E778C;
}

h1 {
  color: #3E778C;
  text-align: center;
  padding: 40px 40px;
  font-size: 40px;
}

footer {
  background: #fff;
  width: 100%;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
    white-space: nowrap;
  }
  .main-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .main-section__location {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .header-section__container {
    padding: 10px 50px;
  }
  .title {
    padding: 0;
  }
  .header-section__right-wrapper {
    display: none;
  }
  .footer-section__right-wrapper {
    align-items: center;
    flex-direction: column;
  }
  .footer-section__text {
    max-width: 170px;
  }
  .footer-section__container {
    gap: 10px;
    padding: 10px 50px;
    justify-content: space-evenly;
  }
  .main-section__logo {
    width: 150px;
    height: 150px;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .burger span {
    position: absolute;
    background-color: #3E778C;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 10px;
  }
  .burger:before,
  .burger:after {
    content: "";
    background-color: #3E778C;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 10px;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .button {
    display: none;
  }
}
@media (max-width: 575px) {
  .main-section__logo {
    width: 100px;
    height: 100px;
  }
  .main-section__img {
    max-width: 320px;
  }
  #bullets {
    margin: 150px 0 10px;
  }
  .main-section__menu-list {
    flex-direction: column;
  }
  .main-section__clients-all {
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-section__menu-list-two {
    text-align: left;
  }
  .main-section__clients {
    margin-bottom: 50px;
  }
  .title {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */